body {
    font-family: "Montserrat";
    text-align: center;
    margin: 0;

}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-bold";
    line-height: 1.5;
}

/* background colors */

.colored-section {
    background-color: lightsalmon;
    color: aliceblue;
}

.white-section {
    background-color: #fff;
}


/* title section */

#title {

    text-align: left;

}

.title-heading {
    font-size: 2.5rem;
    width: 70%;
    padding-bottom: 50px;
}

.container-fluid {
    padding: 5% 15%;

}

.img-iphone {
    height: 450px;
    /* position: absolute; */
    right: 25%;

    transform: rotate(25deg);
    position: absolute;

}



h2 {

    font-size: 3rem;

}



/* navigation bar */

.navbar-brand {
    background-color: aliceblue;
    border-radius: 100%;
}

.navbar {
    padding: 0 0 4.3rem;
    margin-bottom: 30px;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}


/* download buttons */

.download-button {
    margin: 0 2% 15% 0;
}

/* Features */


#features {
    font-size: 1.5rem;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

#features .paragraph {
    color: #bfafbf;
    font-size: 1rem;
    width: 75%;
    margin-left: 35px;

}

.awesome-font {
    color: lightsalmon;
    font-size: 50px;
}

.awesome-font:hover {
    color: firebrick;
}



/* Testimonials section  */




.carousel-item {
    padding: 7% 17%;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* press section */



#press {


    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}



/* pricing section */

#pricing {

    padding: 100px;

}

.pricing-column {

    padding: 3% 2%;
}



/* CTA section */

#cta {

    padding: 80px;

}

.cta-header {
    width: 50%;
    margin-left: 270px;
    font-size: 2rem;
}

.cta-btn {
    margin: 2% 2% 10% 0;
}


/* footer */

#footer {
    margin-bottom: 4%;
    padding-top: 100px;
}

.icons {
    padding: 10px;
}


/* media section */


@media(max-width:992px) {
    .img-iphone {
        position: static;
        transform: rotate(0);
    }



    #title {
        text-align: center;

    }

    h1 {
        margin-left: 12%;
        width: 100%;
    }
}

@media(max-width:800px) {
    .testimonial-text {
        font-size: 2rem;
    }
}

@media(max-width:900px) {
    #cta {
        text-align: center;
    }

    .cta-header {
        width: 80%;
        margin-left: 12%;

    }
}

@media(max-width:1200px) and (min-width:901px) {
    .cta-header {
        margin-left: 23%;
    }
}